{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}aria-current="page"{% endif %}>Publications</a>
    <!-- <a href="{{ '/teaching/' | relative_url }}" {% if current[1] == 'teaching' %}aria-current="page"{% endif %}>Teaching</a> -->
    <!-- <a href="{{ '/group/' | relative_url }}" {% if current[1] == 'group' %}aria-current="page"{% endif %}>Group</a> -->
    <a href="{{ '/cv/' | relative_url }}" {% if current[1] == 'cv' %}aria-current="page"{% endif %}>CV</a>

    <span class="external">
      <a href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope" aria-hidden="true"></i> Email</a>
      <a href="https://scholar.google.com/citations?user=dYNyR-oAAAAJ"><i class="fas fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a>
    </span>
  </nav>
</header>
